services:
  # Servicio 1: El Backend de FastAPI
  - type: web
    name: tienda-api
    env: python
    region: ohio # O la región más cercana a ti
    plan: free
    buildFilter:
      paths:
        - Backend/**
    buildCommand: "cd Backend && pip install -r requirements.txt"
    startCommand: "cd Backend && python run_production.py"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: tienda-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: tienda-redis
          property: connectionString
      - key: PYTHON_VERSION
        value: 3.11

  # Servicio 2: La Base de Datos PostgreSQL
  - type: pserv
    name: tienda-db
    env: postgres
    region: ohio # Usa la misma región
    plan: free
    postgres:
      version: "14"

  # Servicio 3: La Caché de Redis
  - type: redis
    name: tienda-redis
    region: ohio # Usa la misma región
    plan: free
